.animated-text {
	font-size: 24px;
	color: #000;
}

.letter {
	display: inline-block;
	animation: letterAnimation 1s ease-in-out infinite;
}

@keyframes letterAnimation {
	0% {
		opacity: 0;
		transform: translateY(-10px);
	}
	50% {
		opacity: 1;
		transform: translateY(0);
	}
	100% {
		opacity: 0;
		transform: translateY(10px);
	}
}

/* .word {
	animation: wordAnimation 2s linear infinite;
}

@keyframes wordAnimation {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	50% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 0;
		transform: scale(0);
	}
} */

.blinkword {
	display: inline;
	color: red;
	animation: blink 1s steps(1) infinite;
	-webkit-animation: blink 1s steps(1) infinite;
}

@keyframes blink {
	50% {
		color: transparent;
	}
}

/*Крутячий квадрат*/
.animation-square {
	width: 100px;
	height: 100px;
	background-color: tomato;
	position: relative;
	/* Safari 4.0 - 8.0 */
	-webkit-animation-name: square;
	-webkit-animation-duration: 4s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0.5s;
	-webkit-animation-iteration-count: 1;
	/* Standard syntax */
	animation-name: square;
	animation-duration: 4s;
	animation-timing-function: linear;
	animation-delay: 0.5s;
	animation-iteration-count: 1;
	margin: 0 auto;
}

@keyframes square {
	25% {
		width: 500px;
	}

	50% {
		height: 500px;
		background: #e64a19;
		transform: rotate(500deg);
	}

	75% {
		border: 10px dotted black;
	}
}

.cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	row-gap: 22px;
}
