* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 22px;
}

body {
  margin: auto 0;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg'%3E%3Cpattern id='cuboid' width='20' height='16' patternUnits='userSpaceOnUse' patternTransform='scale(10 10)'%3E%3Cg class='top' fill='%23a7daeb'%3E%3Cpath d='M 0 0 L 10 4 L 15 2 L 5 -2 Z' /%3E%3Cpath d='M 5 8 L -5 12 L -11 10 L 0 6 Z' /%3E%3Cpath d='M 10 10 L 15 12 L 25 8 L 20 6 Z' /%3E%3Cpath d='M 5 14 L 15 18 L 10 20 L 0 16 Z' /%3E%3C/g%3E%3Cg class='right' fill='%233a4e55'%3E%3Cpath d='M 10 4 V 10 L 20 6 V 0 Z' /%3E%3Cpath d='M 5 8 V 14 L -5 18 V 12 Z'/%3E%3Cpath d='M 15 12 V 18 L 25 14 V 8 Z' /%3E%3Cpath d='M 15 2 V -4 L 25 -8 V -2 Z' /%3E%3C/g%3E%3Cg class='left' fill='%23648499'%3E%3Cpath d='M 10 4 V 10 L 0 6 V 0 Z' /%3E%3Cpath d='M 5 8 L 15 12 V 18 L 5 14 Z' /%3E%3Cpath d='M 15 2 L 5 -2 V -8 L 15 -4 Z' /%3E%3C/g%3E %3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23cuboid)' /%3E%3C/svg%3E");
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 2px);
  max-width: 500px;
  border: 1px solid mediumblue;
  margin: auto;
}

header {
  width: calc(100% - 2px);
  padding: 0 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  text-align: center;
  /* display: flex;
  justify-content: space-between;
  align-items: center; */
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.glassContainer {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(
    -45deg,
    rgba(197, 248, 255, 0.5),
    rgba(197, 248, 255, 0.35),
    rgba(197, 248, 255, 0.5)
  );
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.container {
  display: block;
  position: relative;
  padding-left: 5px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul {
  width: 100%;
  list-style-type: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: '\200B';
}

.item {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item:first-child {
  margin: 0;
}

.item input[type='checkbox'] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type='checkbox']:focus + label {
  text-decoration: underline;
}

.item > label {
  /* font-size: 0.75rem; */
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}

.add-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.5rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.add-form label {
  position: absolute;
  left: -99999px;
}

.add-form input[type='text'] {
  flex-grow: 1;
  max-width: calc(100% - 50px);
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  margin-right: 0.25rem;
  outline: none;
}

button {
  height: 48px;
  min-width: 48px;
  border-radius: 0.25rem;
  padding: 0.5rem;
  font-size: 1rem;
  background-color: aliceblue;
  color: mediumblue;
  cursor: pointer;
}

button:focus,
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}

.search-form {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.search-form label {
  position: absolute;
  left: -99999px;
}

.search-form input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}

footer {
  width: 100%;
  padding: 0.25em;
  background-color: mediumblue;
  color: aliceblue;
  display: grid;
  place-content: center;
}
